.wrapper
{
    padding: 20px;
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.example-1
{
    float: left;
    margin: 40px;
    width: 130px;
    height: 130px;
    font: 13px/130px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(30, 144, 255, 0.6);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
}
.example-2
{
    float: left;
    margin: 75px 40px 0 40px;
    width: 130px;
    height: 60px;
    font: 13px/60px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(3, 3, 3, 0.6);
    border-radius: 3px;
    animation: shadow-pulse 1s 3;
}
.example-3
{
    float: left;
    margin: 40px 0 0 40px;
    width: 130px;
    height: 130px;
    font: 13px/130px 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(30, 144, 255, 0.6);
    border-radius: 50%;
    animation: shadow-pulse-big 1s 1;
}


body {
    font-size: 18px;
}
.orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #E84D0E;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #e84d0e;
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: relative;
}
.orange-circle-button:hover {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;
    border-color: #ff7536;

}
.orange-circle-button:visited {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;

}
.orange-circle-link-greater-than {
    font-size: 1em;
}