<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link th:href="@{/assets/css/controll.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper ">
    <!--引入侧边栏-->
    <div th:replace="commens/bar::sidebar(activeUri='rosedata')"></div>

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="commens/bar::topbar"></div>


        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="example-1">Example 1</div>
                    <div class="example-2">Example 2</div>
                    <div class="example-3">Example 3</div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>